{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<hr>
<h1>Home Page</h1>
<hr>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to the Clever Programming Blog! Here will be talking about everything computer schience ,other data sciense stuff, any new tech or findings, machine learning, and more </p>
            <p>Go visit our website <a href="">Clever Programming</a>to get more information</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}